<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css" text="text/css">
</head>
<body>
    <h1>Profile Generator</h1>
    <div id = "main">
        <div class = "secondMain">
            <% let skin = `Skintones/Skintones[${skinColor}].png` %> 
            <div class = "pfp"> <img src = <%= skin%> ></div>
            <div class = "infoHub"> 
                <div class = "nameAge">
                    <div id = "nameEl"> Name: <%= name %></div>
                    <div id = "ageEl"> Age: <%= age %> </div>
                </div>
                <div class = "favorites">
                    <div id = "color">Favorite Color: <%= favoriteColor %>  </div>
                    <div id = "genre">Favorite Music Genre: <%= favoriteGenre %> </div>
                </div>  
            </div>
            <div class="location" id = "city">Location: <%= location %> </div>
        </div>
        <button id = "refreshBut" type="button" class = "refBut">
                Refresh 
            <img class="refresh" src="refresh.png">
        </button>
 
    </div>
</body>
</html>

